* {
    /* Remove whitespace */
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.125rem;
    margin: 0;
    color: #707070;
}

/* Typography */

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
}

p {
    margin-top: 0;
}

/* Layout */

.container {
    box-sizing: border-box;
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
    padding-top: 1em;
    height: 100vh;
}

.columns {
    display: flex;
}

.col {
    padding: 1em;
    margin-top: 1.5em;
}

.col-bg {
    color: #FFF;
    background-color: darkslategrey;
}