* {
  /* Remove whitespace */
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125rem;
  margin: 0;
  color: #707070;
  font-family: 'Ubuntu', sans-serif;
}

/* Typography */

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
}

p {
  margin-top: 0;
}

/* Layout */

.bg-dark {
  background-color: #2b2b2b;
  color: #fff;
}

.img-banner {
  margin-top: 1.5em;
  max-width: 100%;
}

.container {
  box-sizing: border-box;
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 1em;
  height: 100vh;
}

@media (max-width: 870px) {
  .container {
    height: auto;
    padding-bottom: 1.4em;
  }
}

.container-infinity {
  height: auto;
  padding-bottom: 2.5em;
}

.container-navigation {
  height: 14vh;
  width: 100%;
  max-width: 100%;
  background-color: #f8f8f8;
}

@media (max-width: 870px) {
  .container-navigation {
    height: 18vh;
  }
}

.container-main {
  height: 86vh;
}

@media (max-width: 870px) {
  .container-main {
    height: 82vh;
  }
}

.columns {
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 800px) {
  .columns {
    flex-direction: column;
  }
}

.col {
  box-sizing: border-box;
  padding: 1em;
  margin-top: 1.5em;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 75%;
}

.col-4 {
  width: 100%;
}

@media (max-width: 800px) {
  .col-1,
  .col-2,
  .col-3,
  .col-4 {
    width: 100%;
  }
}

.col-bg {
  color: #fff;
  background-color: darkslategrey;
}

/* Navigation */

.nav-container {
  display: flex;
  justify-content: space-between;
  color: #2b2b2b;
}

@media (max-width: 800px) {
  .nav-container {
    flex-direction: column;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}

nav {
  padding-top: .8em;
}

.nav-title {
  font-family: 'Lora', sans-serfi;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

@media (max-width: 800px) { 
  nav li {
    margin: 0 1em;
  }
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
}

nav a:hover,
nav a:focus {
  color: #8f5858;
}

/* Articles */

.article-title {

}

.article-photo {
  width: 25%;
}

.article-info {

}

.article-body {

}


/* Sidebar */

.sidebar {

}

.sidebar-widget {

}

.widget-title {

}

.widget-image {
  width: 25%;
}

.widget-body {

}

/* Article - Featured */

.article-featured {

}

/* Article - Recent */

.article-recent {

}

.article-recent-photo {
  width: 50%;
}